body{

    background: rgb(54,25,93);
    background: linear-gradient(90deg, rgba(54,25,93,1) 0%, rgba(183,95,235,1) 50%,
    rgba(27,137,163,1) 100%, rgba(13,206,245,1) 100%);
    font-family:Helvetica, sans-serif;
    text-align: center;
    
    
}
table {
    background-color: #dee5eb;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin:0 auto;
    box-shadow: 7px 7px 14px #413f3f, -7px -7px 14px #857f7f;
    
}
table td, table th{
   
    border: 1px solid black;
    padding:5px;

}
table caption{
    caption-side:top;
    text-align:center;
    font-style: italic;
    font-size: 25px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px 8px;
    width: 250px;
    color:white;
    background: rgb(31, 31, 31);
    border: 2px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor:pointer;
    text-decoration: none;
    margin: auto;
    display: block;
    
}
.btn:hover{
    background: rgb(66, 66, 66);
    transition: 0.5s;
}
input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}
